<!-- <h1>This is the footer.ejs file</h1> -->

<footer class="footer">
  <p style="margin-top: 0px;">
    <div class="social-media">
      <a href="https://github.com/adamfaryna">
        <i class="fa fa-github" title="Github" aria-hidden="true"></i>
      </a>
      <a href="https://twitter.com/AdamFaryna">
        <i class="fa fa-twitter" title="Twitter" aria-hidden="true"></i>
      </a>
    </div>
    <div class="powered-by">Powered by ❤️ and ☕</div>
    <div class="build-with">Build with <a href="https://hexo.io/">Hexo</a></div>
  </p>
</footer>